<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Cat 1</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/stylesheets/style.css'>

</head>
<body>
    <a href="/cat1"><img src="images/cat1.jpg"></a>
    
    <h3> Name: <%= cat_data.name %> </h3>
    <h4> Skill: <%= cat_data.skill %> </h4>

</body>
</html>